<div class="loginForm">
  <section class="formContainer flex jusify-content-start">
    <h1 class="m-auto my-4">Welcome To Gymify</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post" action=""
      class="m-auto my-4 flex flex-column h-20rem w-full pl-8 pr-8 ">
      <div class=" p-float-label m-auto my-4 w-full">
        <input pInputText type="text" autocomplete="off" id="username" formControlName="username"
          class="form-control w-full" />
        <label for="username" class="w-full"><i class="pi pi-user" style="color: white"></i> Username</label>
      </div>
      <div class="p-float-label m-auto my-4 w-full">
        <p-password [feedback]="false" [toggleMask]="true" id="password" formControlName="password" class="form-control"
          [pTooltip]="passwordRequirements" tooltipEvent="focus" />
        <ng-template #passwordRequirements>
          <div>
            <ul>
              <li>Must be more than 8 Characters</li>
              <li>Must contain at least one number</li>
              <li>Must contain at least one symbol</li>
              <li>Must contain at least one capital letter</li>
            </ul>
          </div>
        </ng-template>
        <label for="password"><i class="pi pi-lock"></i> Password</label>
      </div>
      <div class="m-auto w-full flex">
        <button pButton pRipple type="submit"
          class="m-auto bg-transparent  p-button-success p-button-raised p-button-rounded">Login</button>
      </div>
    </form>
  </section>
  <section class=' imageContainer'>
    <img src="assets/images/Login3.jpg" alt="">
  </section>
</div>