.loginForm {
  border-radius: 2rem;
  box-shadow: 0 0 2px #151515,
    0 0 4px #151515,
    0 0 6px #151515,
    0 0 10px #D7FB00,
    0 0 20px #D7FB00;
  overflow: hidden;
  width: 550px;
  height: 650px;
  display: grid;
  grid-template-columns: 100%;
  gap: 0px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  transition: 0.5s;
  color: #D7FB00;
}

.loginForm:hover {
  box-shadow:
    0 0 4px #151515,
    0 0 8px #151515,
    0 0 12px #151515,
    0 0 20px #D7FB00,
    0 0 40px #D7FB00;
}

.signUpForm {
  height: 750px;
}

h1 {
  font-size: 2.8rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.loginHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host {
  ::ng-deep .p-tabmenu {
    border: none;
    background-color: transparent !important;
  }

  ::ng-deep .p-tabmenu-nav-container {
    border: none;
    background-color: transparent !important;
  }

  ::ng-deep .p-tabmenu-nav-content {
    border: none;
    background-color: transparent !important;
  }

  ::ng-deep .p-tabmenu-nav {
    background-color: transparent !important;
  }

  ::ng-deep .p-menuitem-link {
    background-color: transparent !important;
    color: white !important;
  }

  ::ng-deep .p-menuitem-link:hover {
    background-color: #15151588 !important;
  }

  ::ng-deep .ptabmenuitem {
    background-color: transparent !important;
  }

  ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    color: rgba(215, 251, 0, 1) !important;
    border-color: #D7FB00;
  }

}