<div class="contactSection">
  <div class="flex flex-row align-items-center justify-content-center">
    <input pInputText [(ngModel)]="getChatService().search" placeholder="Search for contacts">
  </div>
  <p-dataView [value]="contacts">
    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div class="w-full" *ngIf="!loading && contacts.length != 0">
          <div class="col-12" *ngFor="let contact of contacts; let first = first" >
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4 contactElement" (click)="getChatService().selectedContact = contact; markMessagesAsRead(contact)" [ngClass]="{'highlight' : getChatService().selectedContact?.username == contact.username}">
              <p-avatar [image]="getCommonService().transformImage(contact.profilePicture)" shape="circle" size="large"></p-avatar>
              <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                <div class="w-full grid grid-nogutter">
                    <div class="col-10 text-2xl font-bold p-2">{{ contact.username | titlecase }}</div>
                    <p-tag class="col-2 flex flex-row align-items-end justify-content-end p-2" [value]="contact.role | titlecase" [severity]="getSeverity(contact.role)" [rounded]="true"></p-tag>
                    <div class="col-10 flex align-items-center gap-3 p-2">
                      <p-badge *ngIf="contact.unreadMessages != 0 && contact.unreadMessages != undefined" [value]="contact.unreadMessages"></p-badge>
                        <span class="messageView flex align-items-center gap-2" [innerHTML]="displayMessage(contact)">
                        </span>
                    </div>
                    <div class="col-2 flex align-items-center justify-content-end gap-3 p-2">
                        <span class="messageView flex align-items-center gap-2">
                          {{contact.lastMessage?.messageDate | date}}
                        </span>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="w-full" *ngIf="loading">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4 contactElement" *ngFor="let contact of contacts">
          <div>
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
          </div>
          <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
              <div class="w-full flex flex-column align-items-center sm:align-items-start gap-3">
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                <div class="w-full h-2rem flex align-items-center gap-3">
                    <span class="w-full h-full flex align-items-center gap-2">
                      <p-skeleton class="w-full h-full"></p-skeleton>
                    </span>
                </div>
              </div>
              <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
              </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  </p-dataView>
</div>
