:host {
  ::ng-deep {
    width: 100%;
    height: 100%;
  }

  ::ng-deep .p-dataview {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  ::ng-deep .p-dataview-header {
    background-color: #1b1b1b;
    border-top: none;
    color: #D7FB00;
    border-color: #f8f8ff;
  }

  ::ng-deep .p-dataview-content {
    background-color: #1b1b1b;
    color: #f8f8ff;
    overflow-y: scroll;
    border-color: #f8f8ff;
    height: 100%;
  }

  ::ng-deep .p-dataview-content>*>*:not(:last-child) {
    border-bottom: 1px solid #151515;
  }

  ::ng-deep .p-avatar {
    margin: auto;
    border: 2px solid #D7FB00;
  }

  ::ng-deep .p-avatar img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  ::ng-deep .p-dataview-footer {
    background-color: #1b1b1b;
    border-bottom: none;
    border-top: 1px solid #e9ecef;
  }

  ::ng-deep .p-inputtext {
    font-size: 0.5rem;
    width: 100%;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #f8f8ff;
    background-color: transparent;
    font-family: DM-Sans, sans-serif;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #f8f8ff;
  }

  ::ng-deep .p-inputtext:focus {
    box-shadow: none;
    border-bottom: 1px solid #D7FB00;
  }

  ::ng-deep .p-button {
    background-color: #D7FB00;
    font-weight: bold;
    color: #1c1c1c;
    border-color: #bdce5c;
    box-shadow: 0 0.5em 0.5em -0.4em #151515;
    transition: all .1s ease;
  }

  ::ng-deep .p-button:active {
    transform: translate(2px, 2px);
  }

}

.contactSection {
  display: grid;
  grid-template-rows: 10% 90%;
  box-sizing: border-box;
  height: 100%;
  overflow-y: hidden;
}

.contactElement {
  cursor: pointer;
  background-color: #222222;
  padding: 20px !important;
}

.contactElement:hover {
  background-color: #131313;
}

.contactElement:active {
  background-color: #101010;
}

.contactElement > *:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  background-color: #131313;
}

.messageView {
  color: grey;
}
