<p-dialog header="My Chats" [(visible)]="getChatService().chatPage" [modal]="true" [draggable]="false" [resizable]="false" >
  <ng-template pTemplate="header">
    <div class="w-full align-items-center flex">
      <div class="back my-auto mx-2" *ngIf="getChatService().selectedContact != undefined && getChatService().selectedContact.userId != undefined && getChatService().selectedContact.userId != 0" (click)="getChatService().selectedContact = null; getChatService().msg = [];"><i class="pi pi-chevron-left"></i></div>
      <span>
        My Chats
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="chatPopup">
      <app-chat-contact *ngIf="getChatService().chatPage && (getChatService().selectedContact == undefined || getChatService().selectedContact.userId == undefined || getChatService().selectedContact.userId == 0)"></app-chat-contact>
      <app-chat-message  *ngIf="getChatService().chatPage && getChatService().selectedContact != undefined && getChatService().selectedContact.userId != undefined && getChatService().selectedContact.userId != 0"></app-chat-message>
    </div>
  </ng-template>
</p-dialog>
