:host {
  ::ng-deep .p-dialog{
    width: 90vw;
    height: 90vh;
  }

  ::ng-deep .p-dialog-header {
    color: #f8f8ff;
    border-bottom: 1px solid #222222;
  }

  ::ng-deep .chatSection *:not(.header):not(.form):not(.messages) {
    height: 100%;
  }
}

.chatPopup {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;

}

.contentSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.chatSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}


