<div class="exerciseList">
  <div class="exerciseDataView">
    <p-dataView #dv [value]="exerciseList">
      <ng-template pTemplate="header">
        <div class="flex flex-row">
          <div class="back my-auto mx-2" (click)="back()"><i class="pi pi-chevron-left"></i></div>
          <h2 class="exerciseListTitle">{{title}}</h2>
        </div>
      </ng-template>
      <ng-template let-exercises pTemplate="listItem">
        <div *ngIf="!loading && exerciseList.length != 0">
          <div class="col-12" *ngFor="let exercise of exercises; let first = first" >
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4 exerciseElement" (click)="this.selectedExercise = exercise" [ngClass]="{'highlight' : selectedExercise?.exerciseId == exercise.exerciseId}">
              <img class="w-9 sm:w-16rem xl:w-5rem shadow-2 block xl:block mx-auto border-round" [src]="getCommonService().transformImage(exercise.majorMuscle.musclePicture)" [alt]="exercise.exerciseName" />
              <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                    <div class="text-2xl font-bold">{{ exercise.exerciseName }}</div>
                    <div class="flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                            <p-tag [value]="exercise.majorMuscle.muscleName" severity="info" [rounded]="true"></p-tag>
                            <p-tag *ngFor="let minorMuscle of exercise.minorMuscles" [value]="minorMuscle.muscleName" severity="warning" [rounded]="true"></p-tag>
                        </span>
                    </div>
                </div>
                <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                  <p-avatar *ngIf="!isTrainer()" [pTooltip]="exercise.createdBy.username" [pTooltip]="exercise.createdBy.username" tooltipPosition="bottom" [image]="getCommonService().transformImage(exercise.createdBy.profilePicture)" shape="circle" size="large"></p-avatar>
                  <p-button class="editButton" *ngIf="isTrainer()" (click)="editExercise()"><i class="pi pi-file-edit"></i></p-button>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div *ngIf="loading">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4 exerciseElement" *ngFor="let item of exerciseList">
          <p-skeleton size="5rem"></p-skeleton>
          <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
              <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                <div class="flex align-items-center gap-3">
                    <span class="flex align-items-center gap-2">
                      <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                      <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    </span>
                </div>
              </div>
              <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
              </div>
          </div>
        </div>
      </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
      </ng-template>
    </p-dataView>
  </div>
  <div class="exerciseInfo">
    <div class="exerciseHeader py-4">
      <h1 class="font-bold exerciseTitle max-w-full" *ngIf="!loading && selectedExercise">{{ selectedExercise?.exerciseName }}</h1>
      <p-skeleton width="10rem" styleClass="mb-2" *ngIf="loading"></p-skeleton>
    </div>
    <div class="exerciseContent py-4">
      <div *ngIf="!loading && selectedExercise">
        <iframe class="exerciseVideoLink" [src]="selectedExercise.safeVideoLink"></iframe>
        <div class="exerciseMusclesTypesEquipments">
          <span>Muscle Group</span>
          <div class="exerciseMuscleChips exerciseChips">
            <p-chip class="mx-1" [image]="getCommonService().transformImage(selectedExercise?.majorMuscle.musclePicture)" [label]="selectedExercise?.majorMuscle.muscleName | titlecase"></p-chip>
            <p-chip class="mx-1" *ngFor="let muscle of selectedExercise?.minorMuscles" [image]="getCommonService().transformImage(muscle.musclePicture)" [label]="muscle.muscleName | titlecase"></p-chip>
          </div>
          <span>Type</span>
          <div class="exerciseChips">
            <p-chip class="mx-1" *ngFor="let type of selectedExercise?.types" [image]="getCommonService().transformImage(type.typePicture)" [label]="type.typeName | titlecase"></p-chip>
          </div>
          <span>Equipment</span>
          <div class="exerciseChips">
            <p-chip class="mx-1" *ngFor="let equipment of selectedExercise?.equipments" [image]="getCommonService().transformImage(equipment.equipmentPicture)" [label]="equipment.equipmentName | titlecase"></p-chip>
          </div>
        </div>
        <div  class="exerciseDescription">
          <span>
            Notes
          </span>
          <span>
            Modifications
          </span>
          <p>
            {{selectedExercise?.notes || '(none)'}}
          </p>
          <p>
            {{selectedExercise?.modifications || '(none)'}}
          </p>
        </div>
      </div>
      <p-skeleton width="100%" height="500px" *ngIf="loading"></p-skeleton>
    </div>
    <div class="exerciseFooter py-4">
      <p-button  icon="pi pi-plus" label="Add to Workout" *ngIf="!loading && selectedExercise"></p-button>
      <p-skeleton width="10rem" height="4rem" *ngIf="loading"></p-skeleton>
      <div class="delete">
        <button *ngIf="isTrainer() && !loading && selectedExercise" (click)="confirmDelete($event)" class="Btn">
          <div class="sign">
            <i class="fa-solid fa-trash"></i>
          </div>
          <div class="text">Delete</div>
        </button>
        <p-skeleton width="60px" height="60px" *ngIf="loading" borderRadius="40px"></p-skeleton>
      </div>
    </div>
  </div>
</div>
