<div class="navBar w-full">
  <div class="logoNavigation">
    <img src="../../assets/images/Gymify.png" alt="Gymify">
  </div>
  <div class="pageNavigation">
    <p-tabMenu [model]="menuTab" [activeItem]="menuTab[0]"></p-tabMenu>
  </div>
  <div class="profileNavigation">
    <button pButton (click)="menu.toggle($event)">
      <p-avatar shape="circle" [style]="{ 'background-color': '#151515', color: '#ffffff' }">
        <i class="pi pi-user"></i>
      </p-avatar>
      <span>User</span>
    </button>
  </div>
  <p-menu #menu [model]="items" [popup]="true">
  </p-menu>
</div>