/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import 'primeicons/primeicons.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

*:not(i, .p-menuitem-icon, .p-badge) {
  font-family: DM-Sans, sans-serif !important;
  letter-spacing: 1px;
  line-height: normal;
}

.p-dialog-header,
.p-dialog-content,
.p-dialog-footer {
  background-color: #1c1c1c;
  color: #f8f8ff;
}

.p-tooltip.p-tooltip-right,
.p-tooltip.p-tooltip-left,
.p-tooltip.p-tooltip-top,
.p-tooltip.p-tooltip-bottom {
  .p-tooltip-text {
    width: fit-content;
    height: fit-content;
    border: #D7FB00 2px solid;
    color: #f8f8ff;
    background-color: #151515;
    font-family: DM-Sans, sans-serif;

  }
}

.p-tooltip.p-tooltip-right {
  .p-tooltip-arrow {
    border-right-color: #D7FB00;
  }
}

.p-tooltip.p-tooltip-left {
  .p-tooltip-arrow {
    border-left-color: #D7FB00;
  }
}

.p-tooltip.p-tooltip-top {
  .p-tooltip-arrow {
    border-top-color: #D7FB00;
  }
}

.p-tooltip.p-tooltip-bottom {
  .p-tooltip-arrow {
    border-bottom-color: #D7FB00;
  }
}

.p-toast-detail {
  font-family: DM-Sans, sans-serif;
  font-weight: normal;
}

.p-toast-summary {
  font-family: DM-Sans, sans-serif;
  font-weight: bolder;
}

.p-card-body {
  padding: 0;
}

.p-skeleton {
  background-color: #222222;
}

.nb-theme-default h1,
.nb-theme-dark h1 {
  color: #f8f8ff !important;
}

.nb-theme-default h2,
.nb-theme-dark h2 {
  color: #D7FB00 !important;
}

.nb-theme-default h3,
.nb-theme-dark h3 {
  color: #f8f8ff !important;
}

.nb-theme-default h4,
.nb-theme-dark h4 {
  color: #f8f8ff !important;
}

.nb-theme-default h5,
.nb-theme-dark h5 {
  color: #f8f8ff !important;
}

.nb-theme-default p,
.nb-theme-dark p {
  color: #f8f8ff !important;
}

.nb-theme-default a,
.nb-theme-dark a {
  text-decoration: none !important;
}

.nb-theme-dark nb-layout .layout {
  min-height: 100% !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

@font-face {
  font-family: DM-Sans;
  src: url(assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: DM-Sans-Italic;
  src: url(assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
