/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import 'primeicons/primeicons.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

*:not(i, .p-menuitem-icon) {
  font-family: DM-Sans, sans-serif !important;
  letter-spacing: 2px;
}

.p-tooltip.p-tooltip-right,
.p-tooltip.p-tooltip-left,
.p-tooltip.p-tooltip-top,
.p-tooltip.p-tooltip-bottom {
  .p-tooltip-text {
    width: 450px;
    border: #D7FB00 2px solid;
    color: #D7FB00;
    background-color: #151515;
    font-family: DM-Sans, sans-serif;
    padding: 1rem 2rem;

  }
}

.p-tooltip.p-tooltip-right {
  .p-tooltip-arrow {
    border-right-color: #D7FB00;
  }
}

.p-tooltip.p-tooltip-left {
  .p-tooltip-arrow {
    border-left-color: #D7FB00;
  }
}

.p-tooltip.p-tooltip-top {
  .p-tooltip-arrow {
    border-top-color: #D7FB00;
  }
}

.p-tooltip.p-tooltip-bottom {
  .p-tooltip-arrow {
    border-bottom-color: #D7FB00;
  }
}

.p-toast-detail {
  font-family: DM-Sans, sans-serif;
  font-weight: normal;
}

.p-toast-summary {
  font-family: DM-Sans, sans-serif;
  font-weight: bolder;
}

@font-face {
  font-family: DM-Sans;
  src: url(assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: DM-Sans-Italic;
  src: url(assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}