.homePage {
  box-shadow: 0 0 2px #151515,
    0 0 4px #151515,
    0 0 6px #151515,
    0 0 10px #D7FB00,
    0 0 20px #D7FB00;
  overflow: hidden;
  width: 95vw;
  height: 95vh;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  color: #D7FB00;
}