:host {
  ::ng-deep {
    width: 100%;
    height: 100%;
  }

  .pageNavigation {

    ::ng-deep .p-panelmenu-header-content {
      background-color: transparent;
      border: none;
    }

    ::ng-deep .p-panelmenu-header-content .p-menuitem-text {
      flex-grow: 1;
      font-size: 1rem;
      color: #f8f8ff;
    }

    ::ng-deep .p-panelmenu-header-action {
      color: #f8f8ff;
    }

    ::ng-deep .p-panelmenu-panel {
      border-bottom: 2px solid #222222;
    }

    ::ng-deep .p-icon-wrapper {
      order: 1;
      color: #D7FB00;
    }

    ::ng-deep .p-menuitem-text {
      flex-grow: 1;
      font-size: 0.75rem;
      color: #f8f8ff;
    }

    ::ng-deep .p-menuitem-icon {
      color: #D7FB00;
    }

    ::ng-deep .p-menuitem-link {
      color: #f8f8ff !important;
    }

    ::ng-deep .p-menuitem {
      background-color: transparent;
    }

    ::ng-deep .p-panelmenu-content {
      background-color: transparent;
      color: #f8f8ff;
      border: none;
    }

    ::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content:hover {
      background: #020D19;
    }

    :ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus>.p-menuitem-content {
      background-color: transparent;
    }

    ::ng-deep .p-menuitem-content {
      background-color: transparent;
    }

    ::ng-deep .p-submenu-icon {
      color: #D7FB00;
    }
  }

  ::ng-deep .p-sidebar {
    background: #151515;
  }

}

.homePage {
  padding: 0 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

}

.homeBody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

}

.bodyContent {
  height: 88vh;
  width: 100%;
  margin: auto;
}

.pageNavigation {
  height: 100%;
  width: 275px;
  margin: auto;
  color: #D7FB00;
  transition: all .3s ease;
}

.pageNavigation i {
  margin: 0 10px;
  color: #D7FB00;
  font-size: 1.5rem;
}

hr {
  border: 1px solid #222222;
  width: 100%;
  margin: 0;
}


.logoNavigation {
  width: 100%;
  margin: auto;
  object-fit: contain;
  display: grid;
  grid-template-columns: 84% 15%;
  gap: 10px;
}

.logoNavigation img {
  width: 100%;
}

.close {
  color: #f8f8ff !important;
  border-radius: 50% !important;
  margin: auto !important;
  font-size: 1.5rem !important;
  padding: 7px !important;
  cursor: pointer !important;
}

.close:hover {
  background-color: #f8f8ff11 !important;
}

.closeL:active {
  background-color: #f8f8ff22 !important;
}
