<div class="home">
  <div class="homeImage">
    <div class="homeImageContainer">

    </div>
    <div class="homeImageText">
      <h1>
        Build Perfect Body
        <br/>
        With Gymify
      </h1>
      <p>
        Dive into our fitness oasis, where every rep is a step towards your best self
        <br/>
        Discover a world of workouts tailored to your vibe,
        <br/>
        with a community that's all about cheering each other on
        <br/>
        From cardio to strength training,
        <br/>
        we've got your back on this journey to feeling amazing
        <br/>
        Let's sweat, smile, and crush those goals together!
      </p>
    </div>
  </div>
  <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="homeSection animation-duration-1000 animation-ease-in-out">
    <div class="homeTitle" [routerLink]="'/homePage/workout/workoutList'">
      <h1>My Workouts</h1>
      <i class="pi pi-angle-double-right"></i>
    </div>
  </div>
  <div pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright" class="homeSection animation-duration-1000 animation-ease-in-out">
    <div class="homeTitle">
      <h1>My Diet Plans</h1>
      <i class="pi pi-angle-double-right"></i>
    </div>
  </div>
  <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="homeSection animation-duration-1000 animation-ease-in-out">
    <div class="homeTitle">
      <h1>Meet Your Trainers</h1>
      <i class="pi pi-angle-double-right"></i>
    </div>
  </div>
  <div pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright" class="homeSection animation-duration-1000 animation-ease-in-out">
    <div class="homeTitle">
      <h1>Meet Your Dietitians</h1>
      <i class="pi pi-angle-double-right"></i>
    </div>
  </div>
</div>
