<div class="workoutList">
  <div class="workoutScroller">
    <div class="text-white text-xl" *ngIf="!this.myWorkouts || this.myWorkouts.length == 0">
      No Workouts Yet
    </div>
    <div class="workoutScrollerItem" *ngFor="let workout of myWorkouts" [pTooltip]="workout.workoutName" [ngClass]="{'selected': selectedWorkout?.workoutId == workout.workoutId}" tooltipPosition="bottom" (click)="selectedWorkout = workout">
      <div class="workoutScrollerItemText">
        {{workout.workoutName}}
      </div>
      <div class="workoutScrollerItemButton" *ngIf="workout.createdBy.username.toLowerCase() == getCommonService().getUsername()">
        <i class="pi pi-pencil" (click)="editWorkout(workout.workoutId)"></i>
        <i class="pi pi-trash" (click)="confirmDelete($event)"></i>
      </div>
    </div>
  </div>
  <div class="scheduleContainer">
    <div class="scheduleDay monday">
      <h2>Monday</h2>
      <ul class="list-none flex flex-column gap-2 p-0 m-0" id="monday" *ngIf="selectedWorkout?.mondayExercises">
        <li *ngFor="let exercise of selectedWorkout?.mondayExercises" class="monday p-2 border-round shadow-1 exercise">
            <div class="scheduleExercise">
              <img class="w-3rem shadow-2 block border-round mr-5" [src]="getCommonService().transformImage(exercise.exercise.majorMuscle.musclePicture)" [alt]="exercise.exercise.exerciseName" />
              <div class="text-2xl font-bold flex align-items-center">{{ exercise.exercise.exerciseName }}</div>
            </div>
        </li>
      </ul>
    </div>
    <div class="scheduleDay tuesday">
      <h2>Tuesday</h2>
      <ul class="list-none flex flex-column gap-2 p-0 m-0" id="tuesday" *ngIf="selectedWorkout?.tuesdayExercises">
        <li *ngFor="let exercise of selectedWorkout?.tuesdayExercises" class="tuesday p-2 border-round shadow-1 exercise">
          <div class="scheduleExercise">
            <img class="w-3rem shadow-2 block border-round mr-5" [src]="getCommonService().transformImage(exercise.exercise.majorMuscle.musclePicture)" [alt]="exercise.exercise.exerciseName" />
            <div class="text-2xl font-bold flex align-items-center">{{ exercise.exercise.exerciseName }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="scheduleDay wednesday">
      <h2>Wednesday</h2>
      <ul class="list-none flex flex-column gap-2 p-0 m-0" id="wednesday" *ngIf="selectedWorkout?.wednesdayExercises">
        <li *ngFor="let exercise of selectedWorkout?.wednesdayExercises" class="wednesday p-2 border-round shadow-1 exercise">
          <div class="scheduleExercise">
            <img class="w-3rem shadow-2 block border-round mr-5" [src]="getCommonService().transformImage(exercise.exercise.majorMuscle.musclePicture)" [alt]="exercise.exercise.exerciseName" />
            <div class="text-2xl font-bold flex align-items-center">{{ exercise.exercise.exerciseName }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="scheduleDay thursday">
      <h2>Thursday</h2>
      <ul class="list-none flex flex-column gap-2 p-0 m-0" id="thursday" *ngIf="selectedWorkout?.thursdayExercises">
        <li *ngFor="let exercise of selectedWorkout?.thursdayExercises" class="thursday p-2 border-round shadow-1 exercise">
          <div class="scheduleExercise">
            <img class="w-3rem shadow-2 block border-round mr-5" [src]="getCommonService().transformImage(exercise.exercise.majorMuscle.musclePicture)" [alt]="exercise.exercise.exerciseName" />
            <div class="text-2xl font-bold flex align-items-center">{{ exercise.exercise.exerciseName }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="scheduleDay friday">
      <h2>Friday</h2>
      <ul class="list-none flex flex-column gap-2 p-0 m-0" id="friday" *ngIf="selectedWorkout?.fridayExercises">
        <li *ngFor="let exercise of selectedWorkout?.fridayExercises" class="friday p-2 border-round shadow-1 exercise">
          <div class="scheduleExercise">
            <img class="w-3rem shadow-2 block border-round mr-5" [src]="getCommonService().transformImage(exercise.exercise.majorMuscle.musclePicture)" [alt]="exercise.exercise.exerciseName" />
            <div class="text-2xl font-bold flex align-items-center">{{ exercise.exercise.exerciseName }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="scheduleDay saturday">
      <h2>Saturday</h2>
      <ul class="list-none flex flex-column gap-2 p-0 m-0" id="saturday" *ngIf="selectedWorkout?.saturdayExercises">
        <li *ngFor="let exercise of selectedWorkout?.saturdayExercises" class="saturday p-2 border-round shadow-1 exercise">
          <div class="scheduleExercise">
            <img class="w-3rem shadow-2 block border-round mr-5" [src]="getCommonService().transformImage(exercise.exercise.majorMuscle.musclePicture)" [alt]="exercise.exercise.exerciseName" />
            <div class="text-2xl font-bold flex align-items-center">{{ exercise.exercise.exerciseName }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="scheduleDay sunday">
      <h2>Sunday</h2>
      <ul class="list-none flex flex-column gap-2 p-0 m-0" id="sunday" *ngIf="selectedWorkout?.sundayExercises">
        <li *ngFor="let exercise of selectedWorkout?.sundayExercises" class="sunday p-2 border-round shadow-1 exercise">
          <div class="scheduleExercise">
            <img class="w-3rem shadow-2 block border-round mr-5" [src]="getCommonService().transformImage(exercise.exercise.majorMuscle.musclePicture)" [alt]="exercise.exercise.exerciseName" />
            <div class="text-2xl font-bold flex align-items-center">{{ exercise.exercise.exerciseName }}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
